# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
# inculde zip files (e.g. test files)
# *.zip
*.tar.gz
*.rar

!sqljdbc_10.2.0.0_enu.zip

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# maven and eclipse
/target/
.classpath
.project
/.settings/

# rstudio files
.RData
.Rhistory

# logical link created for http-server
/_ETC/http-server/fhir-to-omop

# test output files
/patient-ids-test

